.button:hover {
    background-color: forestgreen;
    border-radius: 25px;
    cursor: pointer;
}

.button {
    background-color: lightgreen;
    border-radius: 25px;
    float: center;
}

.border-text {
    border: 4px dashed green; 
    width: 500px; 
    height: 250px; 
    text-align: center;
    float: left;
}
