.a {
  background: url('')  background-size: cover;
}

.b{
  background: url('https://img.favpng.com/1/18/16/norfolk-bicycle-2018-earthday-pedalathon-bikeathon-cycling-organization-png-favpng-TKqpK8HKsdCJKC0fbCUCy2d6w.jpg')
  background-size: cover;
}
