.image div {
    padding: 0.74%;
    border: 2px solid black;
    height: 40.15%;
    width: 15.21%;
    float: right;
    text-align: center;
}

.image {
    clear: both;
}

.text1 {
    color: green;
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-color: lightblue;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.heading {
    /* for use with h1 */
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
